<!DOCTYPE html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>
        <header>
            <img style="max-height: 200px; max-width: 200px;" src="/img/logo.png" alt="Meadowlark Travel logo">
            <nav>
                <ul>
                    <a href="/"><li>Home</li></a>
                    <a href="/about">About</a>
                </ul>
            </nav>
        </header>
        {{{body}}}
    </body>
</html>